<!-- SIDEBAR --> 
<aside id="sidebar">
  <button class="close-sidebar" arial-label="Fermer le menu">X</button>
  <ul>
    <li><a href="#">🏠 <span>Dashboard</span></a></li>
    <li><a href="#">👤 <span>Utilisateurs</span></a></li>
    <li><a href="#">📊 <span>Statistiques</span></a></li>
    <li><a href="#">⚙️ <span>Paramètres</span></a></li>
    <li style="margin-top:200px"><a href="#">⬇️ <span>Bas</span></a></li>
  </ul>
</aside>