<!-- FOOTER -->
<footer class="footer">
  <div>© {{year}} miniBlog - Node.js</div>
  <div>
    <a href="#" style="color:#fff">Mentions légales</a> |
    <a href="#" style="color:#fff">Contact</a>
  </div>
</footer>
  