<header class="header">
  <div class="container header-content">
    <h1 class="logo">
      <a href="/">miniBlog</a>
    </h1>

    <nav>
      <a href="/">Accueil</a>
      <a href="/admin/posts/new">Nouvel article</a>
    </nav>
  </div>
</header>