<!-- HEADER -->
<header class="header" id="header">
        <div class="header-top">
        <button class="burger" id="burger" aria-label="Ouvrir le menu">
            ☰
        </button>
        
        <h1 class="logo">
            <a href="/">miniBlog</a>
        </h1>
        <button class="menu-toggle" id="menuToggle" aria-label="Afficher le menu">▼</button>
    </div>	
    <nav class="nav" id="navMenu">
        <a href="/">Accueil</a>
        <a href="/admin/posts/new">Nouvel article</a>
    </nav>
</header>